@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="~/Scripts/jquery-1.8.3.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>@ViewBag.Title</h1>

    @RenderBody()
</body>
</html>
